.card-container {
  margin: 4rem 0 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 6rem; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
