
nav {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  height: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(44, 44, 44, 0.85);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: #2a2a57;
    padding: 7px 1rem;
    margin: 1rem;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 120px;
    &:hover {
      color: rgba(255, 255, 255, 1);
      //background-color: #414141;
      box-shadow: 0 0 6px 3px rgba(255, 209, 0, 1);
    }
  }
}

.active {
  background-color: #ffd100;
  color: #2a2a57;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 630px) {
  nav {
    height: auto;
    flex-wrap: wrap;
    button {
      padding: 10px;
      margin: 10px;
      width: 100px;
      //width: auto;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  nav {
    button {
      font-size: 12px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}