nav {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(44, 44, 44, 0.85);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  nav button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: #2a2a57;
    padding: 7px 1rem;
    margin: 1rem;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 52px; }
    nav button:hover {
      color: white;
      box-shadow: 0 0 6px 3px #ffd100; }

.active {
  background-color: #ffd100;
  color: #2a2a57; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  nav {
    flex-direction: column; }
  .mainAudio {
    margin-bottom: 1rem; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 630px) {
  nav {
    height: auto;
    flex-wrap: wrap; }
    nav button {
      padding: 10px;
      margin: 10px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  nav .nav-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  nav button {
    font-size: 12px; } }

/* Custom, iPhone Retina */
